@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #111424;
  font-family: theme("fontFamily.sans");
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

h2 {
  font-size: 40pt;
  font-weight: bold;
}